.anthem-css{
	width: 100%;
}
.anthem-text-b-css{
	/*background: #cccccc;*/
}
.anthem-text-css{
	color: #2277BD;
	margin: 1rem 0.8rem 1rem;
}
.arms-flag{
	height: auto;
	max-width: 35%;
}
.banner-image{
	background-size: cover;
}
.bg-white-css{
	background-color: #F5F5F5;
}
.border-2-css{
	border: 2px solid #3a3a3a;
}
.border-css{
	border: 1px solid #3a3a3a;
}
.border-down{
	border-bottom: 1px solid #3a3a3a;
}
.border-left{
	border-left: 1px solid #1c1c1c;
}
.bordered-black::-webkit-scrollbar-thumb{
	-webkit-box-shadow: none;
}
.bordered-black::-webkit-scrollbar-track{
	-webkit-box-shadow: none;
	border: 1px solid #ccc;
}
.box-teste{
	display: inline-block;
	margin: auto;
	padding: 10px 10px !important;
}
.breadcrumb{
	--bs-breadcrumb-divider-color: #2277BD;
	--bs-breadcrumb-item-active-color: #2277BD;
	list-style: none;
}
.breadcrumb-item+.breadcrumb-item::before{
	color: var(--bs-breadcrumb-divider-color);
}
.button{
	background: #ffffff;
	border-radius: 25px;
	border: 1px solid #000000;
	display: inline-block;
	padding: 5px 15px;
	text-align: center;
	vertical-align: middle;
}
.button-2-css{
	background: #FFFFFF;
}
.button-css{
	background: #2277BD;
	border-radius: 20px;
	border: none;
	color: #FFFFFF;
	width: 16rem;
}
.button-item{
	flex-basis: 0;
	flex-grow: 1;
	flex: 1 1 auto;
	text-align: center;
	width: 100%;
}
.card{
	height: 40vh;
	overflow: hidden;
	position: relative;
	transition: all 0.2s ease-in-out;
}
.card-bg-font{
	background: #2277BD 8.85%;
	color: #FFFFFF;
	height: 20rem;
	width: 30rem;
}
.card-bg-font img{
	max-width: 100%;
	position: relative;
}
.card-body{
	background: linear-gradient(180deg, #2277BD 8.85%, #11772E 86.46%);
}
.card-img{
	height: 40vh;
	object-fit: cover;
	width: 100%;
}
.card-img-container{
	height: 30rem;
	height: 50rem;
	width: 100%;
}
.card-img-overlay{
	opacity: 1;
}
.card-img-overlay:hover{
	opacity: 0;
}
.card:hover{
	height: 16rem;
}
.card:hover .tag-top{
	opacity: 1;
	transition: all 0.3s ease-in-out;
	visibility: visible;
}
.city-flag{
	height: auto;
	max-width: 100%;
}
.ck-editor__editable{
	max-height: 400px;
	min-height: 400px;
}
.ck.ck-editor{
	max-width: 800px;
	min-width: 800px;
}
.collection-item{
	-ms-flex-pack: center;
	-ms-flex-wrap: nowrap;
	-ms-grid-columns: 1fr minmax(200px, 1fr);
	-ms-grid-rows: auto auto;
	-webkit-box-pack: center;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: center;
	display: flex;
	flex-wrap: nowrap;
	grid-auto-columns: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-columns: 1fr minmax(200px, 1fr);
	grid-template-rows: auto auto;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	max-width: none;
	padding: 10px 0px;
}
.collection-list-wrapper{
	-ms-grid-rows: auto;
	-o-object-fit: fill;
	display: block;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
	grid-template-rows: auto;
	object-fit: fill;
	overflow: hidden;
}
.container{
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	justify-content: space-between;
	margin: 15px auto;
	position: relative;
	width: 1000px;
}
.container .card{
	cursor: pointer;
	position: relative;
}
.container .card .face{
	height: 200px;
	transition: 0.5s;
	width: 500px;
}
.container .card .face.face1{
	align-items: center;
	background: #333;
	display: flex;
	justify-content: center;
	position: relative;
	transform: translateY(100px);
	z-index: 1;
}
.container .card .face.face1 .content{
	opacity: 1;
	transition: 0.5s;
}
.container .card .face.face1 .content h3{
	color: #fff;
	font-size: 1.5em;
	margin: 0 0 0;
	padding: 0;
	text-align: center;
}
.container .card .face.face1 .content img{
	max-width: 100%;
}
.container .card .face.face2{
	align-items: center;
	background: linear-gradient(#008d41,#2147a7);
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	padding: 20px;
	position: relative;
	transform: translateY(-100px);
}
.container .card .face.face2 .content p{
	margin: 0;
	padding: 0;
}
.container .card:hover .face.face1{
	background: #ff0057;
	transform: translateY(0);
}
.container .card:hover .face.face1 .content{
	opacity: 1;
}
.container .card:hover .face.face2{
	transform: translateY(0);
}
.container-css{
	
	--bs-gutter-x: 0;
	--bs-gutter-y: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	width: 100%;
}
.destaques{
	/* box-sizing: border-box; */
	display: flex;
	flex-wrap: wrap;
	gap: 40px 10px;
	justify-content: space-between;
	margin-bottom: 70px;
	margin: 45px auto;
	max-height: none;
	padding: auto;
	position: relative;
	width: 90%;
}
.destaques .card{
	
	align-items: center;
	background-color: inherit;
	border: 0;
	cursor: pointer;
	flex-basis: auto;
	height: 20rem;
	position: relative;
	width: 28rem;
}
.destaques .card .face{
	/* width: 27vw;
	height: 20vh; */
	height: inherit;
	transition: 0.5s;
	width: inherit;
}
.destaques .card .face.face1{
	
	align-items: center;
	background: white;
	display: flex;
	justify-content: center;
	position: relative;
	transform: translateY(100px);
	z-index: 1;
}
.destaques .card .face.face1 .content{
	opacity: 1;
	transition: 0.5s;
}
.destaques .card .face.face1 .content h3{
	align-items: center;
	color: #fff;
	font-size: 1.5em;
	justify-items: center;
	margin: 0 0 0;
}
.destaques .card .face.face1 .content img{
	
	height: inherit;
	max-width: 100%;
	object-fit: cover;
	width: inherit;
}
.destaques .card .face.face2{
	/* padding: 60px; */
	align-items: start;
	background: linear-gradient(180deg, #2649A5 7.81%, #008C43 88.54%);
	border-radius: 0px 0px 20px 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: start;
	min-height: 7rem;
	position: relative;
	transform: translateY(-25px);
}
.destaques .card .face.face2 .content p{
	color: #fff;
	margin: 0;
	padding: 5px;
}
.destaques .card:hover .face.face1{
	background: #008C43;
	transform: translateY(0);
}
.destaques .card:hover .face.face1 .content{
	opacity: 1;
}
.destaques .card:hover .face.face2{
	transform: translateY(0px);
}
.div-padding{
	margin-left: 2rem;
	margin-right: 2rem;
	padding-bottom: 1rem;
	padding-left: 0;
	padding-right: 0;
}
.fa-2{
	
	background: #FFFFFF;
	font-size: 1.5rem;
}
.fa-lock{
	color: #FFFFFF;
}
.fa-user{
	color: #FFFFFF;
}
.fas-location{
	background: #FFFFFF;
}
.fas-teste{
	/* You may need to change top and right. They depend on padding/widht of .badge */
	border-radius: 50%;
	color: #2277BD;
	left: 250px;
	padding: .2rem .3rem;
	position: absolute;
	top: -20px;
}
.font-400{
	background: inherit;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	font-size: 1rem;
	font-weight: 400;
}
.font-500{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
.font-600{
	background: inherit;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-size: 2rem;
	font-weight: 600;
}
.font-700{
	background: inherit;
	color: #FFFFFF;
	font-family: 'Raleway', sans-serif;
	font-size: 1.2rem;
	font-size: 3rem;
	font-size: 6rem;
	font-weight: 700;
}
.form-check-input[type="radio"]{
	border: 1px solid #000000;
}
.form-control::placeholder{
	color: #3a3a3a;
	opacity: 1; /* Firefox */
}
.h-33{
	height: 7vh;
}
.heading-1{
	position: relative;
	position:relative;
}
.heading-1.blue span{
	background: #163246;
	background: #fff;
	color: #115B6B;
	color: white;
	padding: 0 10px;
	position: relative;
	z-index: 1;
}
.heading-1.blue:before{
	border-top: solid 2px #115B6B;
	border-top: solid 2px #fff;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 0;
}
.heading-1.left{
	margin-left: 100px;
	margin-left:10px;
	text-align: left;
}
.heading-1.right{
	margin-right: 100px;
	margin-right:10px;
	text-align: right;
}
.heading-1.white span{
	background: #fff;
	color: #000;
	padding: 0 10px;
	position: relative;
	z-index: 1;
}
.heading-1.white:before{
	border-top: solid 2px #000;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 0;
}
.hidden-scroll{
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.hover{
	overflow: hidden;
	padding-bottom: 60%;
	position: relative;
}
.hover img{
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s;
	width: 100%;
}
.hover-2 .hover-overlay{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}
.hover-2-description{
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	transition: all 0.3s;
	width: 100%;
	z-index: 99;
}
.hover-2-title{
	left: 0;
	position: absolute;
	text-align: center;
	top: 50%;
	transition: all 0.3s;
	width: 100%;
	z-index: 99;
}
.hover-2:hover .hover-2-description{
	bottom: 0.5rem;
	opacity: 1;
}
.hover-2:hover .hover-2-title{
	transform: translateY(-1.5rem);
}
.hover-2:hover .hover-overlay{
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}
.hover-content{
	position: relative;
	z-index: 99;
}
.hover-overlay{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.4s;
	width: 100%;
	z-index: 90;
}
.icon-css{
	
}
.img-css{
	border-radius: 1.6rem;
	max-height: 7rem;
	max-width: 8rem;
}
.img-fullscreen{
	height: 100%;
	width: 100%;
}
.img-mayor{
	max-height: 16.25rem;
	object-fit: cover;
	object-position: top;
	width: 16.25rem;
}
.img-patrimonios{
	max-height: 15vh;
	object-fit: cover;
	width: 15vw;
}
.img-previous-mayor{
	max-height: 12.25rem;
	object-fit: cover;
	object-position: top;
	width: 12.25rem;
}
.input-bg{
	background: inherit;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-left: 0 !important;
	border-right: 0 !important;
	border-top: 0 !important;
	border: 3px solid #FFFFFF !important;
}
.input-bg-login{
	background: inherit;
	border-radius: 40px;
	border: 3px solid #FFFFFF;
}
.input-css{
	border-color: #3a3a3a;
}
.input-group-append{
	cursor: pointer;
}
.main-container-css{
	background: #FFFFFF;
}
.mapLinks{
	-ms-flex-align: start;
	-ms-flex-direction: row;
	-ms-flex-line-pack: end;
	-ms-flex-pack: start;
	-ms-flex-wrap: nowrap;
	-ms-grid-columns: 1fr 1fr;
	-ms-grid-rows: auto auto;
	-o-object-fit: fill;
	-webkit-align-content: flex-end;
	-webkit-align-items: flex-start;
	-webkit-box-align: start;
	-webkit-box-direction: normal;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: start;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	align-content: flex-end;
	align-items: flex-start;
	clear: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	float: right;
	grid-auto-columns: 1fr;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
	justify-content: flex-start;
	max-height: 15rem;
	max-width: 60rem;
	min-height: 10rem;
	min-width: 9rem;
	object-fit: fill;
	overflow: auto;
	position: relative;
	text-align: left;
	top: auto;
}
.margin-btn-1{
	margin-left: 10rem;
}
.margin-btn-2{
	margin-left: 20rem;
}
.media-element{
	
	display: flex;
	grid-template-rows: min-content;
	overflow: hidden;
	position: relative;
	width: auto;
}
.media-element > img{
	
	aspect-ratio: 16/10;
	background-image: url('/images/TEST2.png');
	background-image: url('images/TEST2.png');
	background-size: cover;
	box-sizing: border-box;
	display: flex;
	filter: brightness(45%);
	inline-size: 100%;
	text-align: center;
	transition: all 0.75s ease;
}
.media-element:hover > img{
	/* filter: brightness(100%); */
	transform: scale(1.25);
}
.media-scroller{
	
	-ms-overflow-style: none;  /* IE and Edge */
	/* até antes de media element é só testando scroll bonitinho, claramente opcional */
	display: grid;
	gap: var(--size-5);
	grid-auto-columns: 20%;
	grid-auto-columns: 20rem;
	grid-auto-flow: column dense;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
	padding: var(--size-7) var(--size-5) var(--size-7);
	scrollbar-width: none;  /* Firefox */
}
.media-scroller::-webkit-scrollbar{
	display: none;
}
.modal-dialog{
	background-color: white;
	color: black;
}
.option-bg{
	background: linear-gradient(243.59deg, #11772E 20.27%, #2649A5 98.07%);
	box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.25);
	height: 8rem;
}
.outlines{
	outline-offset: -12px;
	outline: magenta solid 5px;
}
.perfil{
	
	align-items: center;
	display: flex;
	flex-direction: column;
	grid-template-rows: min-content;
	position: relative;
	width: 100%;
}
.perfil > img{
	
	display: flex;
	height: 188px;
	max-height: 12.25rem;
	object-fit: contain;
	object-fit: cover;
	object-position: top;
	width: 12.25rem;
	width: 141px;
}
.removescroll{
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.removescroll::-webkit-scrollbar{
	-ms-overflow-style: none; /* IE and Edge */
	display: none;
	scrollbar-width: none; /* Firefox */
}
.scrollbar-black{
	scrollbar-color: #000 #F5F5F5;
}
.scrollbar-black::-webkit-scrollbar{
	background-color: #F5F5F5;
	width: 12px;
}
.scrollbar-black::-webkit-scrollbar-thumb{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #282828;
	border-radius: 10px;
}
.scrollbar-black::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #ccc;
}
.scrollbar-near-moon::-webkit-scrollbar{
	background-color: #F5F5F5;
	width: 12px;
}
.search-click{
	background-position: 13px;
	background-size: 22px;
	border-radius: 10px;
	border: 1px solid #ccc;
	height: 50px;
	outline: none;
	overflow: hidden;
	padding: 25px;
	position: relative;
	transition: all 0.5s;
	width: 50px;
}
.search-click input{
	background: transparent;
	border: 1px solid #ccc;
	height: 50px;
	left: 0%;
	outline: none;
	padding: 10px;
	position: absolute;
	width: 300px;
}
.search-click:focus{
	padding-left: 50px;
	width: 300px;
}
.search-css{
	background: #cccccc;
	max-width: 10rem;
}
.small-scroller{
	
	display: grid;
	grid-auto-columns: 20%;
	grid-auto-columns: auto;
	grid-auto-flow: column dense;
	overflow-x: auto;
	overscroll-behavior-inline: contain;
}
.snaps-inline{
	scroll-padding-inline: var(--size-7);
	scroll-snap-type: inline mandatory;
}
.snaps-inline > *{
	scroll-snap-align: start;
}
.square::-webkit-scrollbar-thumb{
	border-radius: 0 !important;
}
.square::-webkit-scrollbar-track{
	border-radius: 0 !important;
}
.state-flag{
	height: auto;
	max-width: 65%;
}
.tag-bot{
	background-color: #FFFFFF !important;
	background: #FFFFFF !important;
	color: #000000;
	font-size: 15px !important;
	opacity: 0;
	padding: 5px 10px;
	position: absolute;
	right: 10px;
	top: 10px;
	transform: translate(0, 100%);
	transition: all 0.3s ease-in-out;
	visibility: hidden;
}
.tag-tipo-pat{
	background: #CCCCCC;
}
.tag-top{
	background-color: rgba(95, 95, 95, 0.6) !important;
	background: rgba(95, 95, 95, 0.6) !important;
	color: white;
	font-size: 15px !important;
	left: 10px;
	opacity: 0;
	padding: 5px 10px;
	position: absolute;
	top: 10px;
	transition: all 0.3s ease-in-out;
	visibility: hidden;
}
.text-block{
	
	color: white;
	font-family: 'raleway';
	font-size: 50px;
	left: 50%;
	padding: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.text-format{
	text-align: justify;
}
.text-format-mayor{
	text-align: left;
}
.thin::-webkit-scrollbar{
	width: 6px;
}
.title-css{
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}
.titulo-animado-bt{
	animation: animacao-titulo 2s forwards;
	transform: translateY(300%);
}
.titulo-animado-tb{
	animation: animacao-titulo 2s forwards;
	transform: translateY(-300%);
}
.zoom{
	margin: 0 auto;
	transition: transform .2s; /* Animation */
}
.zoom:hover{
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
@keyframes animacao-titulo{
	100% {
	transform: translateY(0);
}
@media (max-width: 575.98px){
	.card-bg-font {
	height: 40vh;
	object-fit: cover;
	width: 95%;
}
@media (max-width: 645px){
	.img-patrimonios {
	max-height: 50vh;
	object-fit: cover;
	width: 50vw;
}
@media (max-width: 767px){
	
	.font-700 {
	font-size: 3rem;
}
@media (min-width: 1200px){
	.card:hover {
	height: 25rem;
}
@media (min-width: 1400px){
	.card:hover {
	height: 30rem;
}
@media (min-width: 1600px){
	.card:hover {
	height: 32rem;
}
@media (min-width: 1800px){
	.card:hover {
	height: 35rem;
}
@media (min-width: 2000px) and (max-width: 2499.98px){
	.card:hover {
	height: 40rem;
}
@media (min-width: 2500px){
	
	.card:hover {
	height: 50rem;
}
@media (min-width: 576px) and (max-width: 767.98px){
	.card:hover {
	height: 18rem;
}
@media (min-width: 768px) and (max-width: 1200px){
	.card:hover .tag-bot {
	/* Propriedades da tag para telas médias */
	opacity: 1;
	transform: translate(0, 300%);
	transition: all 0.3s ease-in-out;
	visibility: visible;
}
@media (min-width: 768px) and (max-width: 991.98px){
	.card:hover {
	height: 20rem;
}
@media (min-width: 992px){
	.card:hover .tag-bot {
	/* Propriedades da tag para telas grandes */
	opacity: 1;
	transform: translate(0, 600%);
	transition: all 0.3s ease-in-out;
	visibility: visible;
}
@media (min-width: 992px) and (max-width: 1199.98px){
	.card:hover {
	height: 22rem;
}
a{
	text-decoration: none;
}
div.bot-nav2{
	font-size: 15px;
}
div.left-nav{
	color: #FFFFFF;
	font-size: 16px;
}
div.right-nav{
	color: #FFFFFF;
}
div.top-nav2{
	color: #FFFFFF;
	font-size: 24px;
}
h4-css{
	display: flex;
	flex-direction: row;
	padding-right: 0;
	padding: 2rem 2rem;
}
h4-css:after{
	border-bottom: 7px solid #3a3a3a;
	content: "";
	flex: 1 1;
	margin-right: 0;
	margin: 2rem 1rem;
}
input-div-file{
	align-items: center;
	background: #FFFFFF;
	background: #ccc;
	border-radius: 20px
	border-radius: 20px;
	border: 3px solid green;
	bottom: 0;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
}
input-div-file.dragover{
	background-color: #aaa;
}
input-label-file{
	display: inline-block;
	height: 100%;
	position: relative;
	width: 100%;
}
input[type="file"]{
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
nav.navbar{
	/*==== Navbar Items ====*/
	/*==== Search Box ====*/
	background: #1c1c1c;
	position: relative;
	z-index: 1;
}
nav.navbar .search-box{
	-webkit-transform: translateY(-101%);
	-webkit-transition: all 0.3s;
	background: #fff;
	border-radius: 0;
	height: 100%;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: translateY(-101%);
	transition: all 0.3s;
	width: 100%;
	z-index: 12;
}
nav.navbar .search-box .dismiss{
	-webkit-transform: translateY(-50%);
	background: none;
	border: none;
	color: #999;
	cursor: pointer;
	font-size: 1.5em;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
nav.navbar .search-box form{
	height: 100%;
}
nav.navbar .search-box form input{
	border: none;
	height: 100%;
	padding: 20px;
}
nav.navbar .search-box.fadedIn{
	-webkit-transform: none;
	transform: none;
}
nav.navbar a{
	color: inherit;
}
p-css{
	position: relative;
	top: 50%;
}
p.center-nav{
	color: #FFFFFF;
	font-size: 15px;
}
section-container{
	
	--bs-gutter-x: 0;
	--bs-gutter-y: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	width: 100%;
}
section-container.bgnd-black{
	background-color: #3a3a3a;
}
section-container.bgnd-blue-green{
	background: linear-gradient(243.59deg, #11772E 20.27%, #2649A5 98.07%);
}
section-container.bgnd-white{
	background-color: #F5F5F5;
}
section-headline-left{
	
	display: flex;
	flex-direction: row;
	font-family: 'Raleway', sans-serif;
	padding-right: 0;
	padding: 2rem 2rem;
}
section-headline-left.bb-black::after{
	border-bottom: 7px solid #3a3a3a;
}
section-headline-left.bb-black::before{
	border-bottom: 7px solid #3a3a3a;
}
section-headline-left.bb-white::after{
	border-bottom: 7px solid #ffffff;
}
section-headline-left.bb-white::before{
	border-bottom: 7px solid #ffffff;
}
section-headline-left.font-400{
	background: inherit;
	font-size: 1.5rem;
	font-weight: 400;
}
section-headline-left.font-600{
	background: inherit;
	font-size: 2rem;
	font-weight: 600;
}
section-headline-left.font-700{
	background: inherit;
	font-size: 3rem;
	font-weight: 700;
}
section-headline-left::after{
	
	content: "";
	flex: 1 1;
	margin-right: 0;
	margin: 2rem 1rem;
}
section-headline-right{
	display: flex;
	flex-direction: row;
	font-family: 'Raleway', sans-serif;
	padding-left: 0;
	padding: 2rem 2rem;
}
section-headline-right.bb-black::after{
	border-bottom: 7px solid #3a3a3a;
}
section-headline-right.bb-black::before{
	border-bottom: 7px solid #3a3a3a;
}
section-headline-right.bb-white::after{
	border-bottom: 7px solid #ffffff;
}
section-headline-right.bb-white::before{
	border-bottom: 7px solid #ffffff;
}
section-headline-right.font-400{
	background: inherit;
	font-size: 1.5rem;
	font-weight: 400;
}
section-headline-right.font-600{
	background: inherit;
	font-size: 2rem;
	font-weight: 600;
}
section-headline-right.font-700{
	background: inherit;
	font-size: 3rem;
	font-weight: 700;
}
section-headline-right::before{
	content: "";
	flex: 1 1;
	margin-left: 0;
	margin: 2rem 1rem;
}
