.ababa {
    background: red;
}
.testando123.left {
    justify-content: left;
}

.ababa.ababa {
    background: green;
}

.testando1234 {
    justify-content: center;
}

.testando123 {
    justify-content: center;
}

